include ../mixins/sub-menu.pug

header.header 
    .container 
        .row.align-items-center 
            .col-2
                .inner-logo 
                    a(href="/")
                        img(src=settingGeneral.logo, alt = "Logo")
            .col-5
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            -const pathProduct = "/products";
                            a(href="/products") Sản phẩm
                                +sub-menu(layoutProductsCategory, pathProduct)
                        li
                            a(href="https://www.facebook.com/profile.php?id=100069255010487" target="_blank") Liên hệ
            .col-3
                form(
                        class="text-right"
                        action=`/search`
                        method="GET"
                    )
                        .input-group 
                            input(
                                type="text"
                                placeholder="Tìm kiếm"
                                class="form-control"
                                name="keyword"
                                value=keyword
                            )
                            .input-group-append
                                button(
                                    class = "btn btn-success"
                                    type="submit"
                                ) Tìm kiếm
            .col-2
                .inner-menu 
                    ul
                        li 
                            a(href='/cart')
                                i(class='fa fa-shopping-cart')
                                span(class='cart-badge position-absolute top-0 start-100 translate-middle badge rounded-pill')
                                    | #{miniCart ? miniCart.totalQuantity : 0}
                        if(user)
                            li.dropdown
                                a(href="/user/info", class="dropdown-toggle logged-in", id="accountDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                    i(class="fas fa-user user-icon")
                                    i(class="fas fa-check-circle check-icon")
                                .dropdown-menu(aria-labelledby="accountDropdown")
                                    a.dropdown-item(href="/user/info") Tài khoản của tôi
                                    a.dropdown-item(href="/user/orders") Đơn hàng
                                    a.dropdown-item(href="/user/change/password") Đổi mật khẩu
                                    a.dropdown-item(href="/user/logout") Đăng xuất
                        else
                            li.dropdown
                                a(href="/user/login", class="dropdown-toggle logged-out", id="accountDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                    i(class="fas fa-user user-icon")
                                .dropdown-menu(aria-labelledby="accountDropdown")
                                    a.dropdown-item(href="/user/login") Đăng nhập
                                    a.dropdown-item(href="/user/register") Đăng ký