mixin form-change-multi-orders(path)
    form.prevent-double-submit(
        action=path
        method="POST"
        form-change-multi
    )
        .d-flex.align-items-start 
            .form-group 
                select(name="type" class="form-control")
                    option(disabled selected) -- Chọn hành động --
                    option(value="success") Thành công
                    option(value="delivering") Đang vận chuyển
                    option(value="processing") Đang xử lý
                    option(value="canceled") Đã hủy
            .form-group 
                input(
                    type="text"
                    name="ids"
                    value=""
                    class="form-control d-none"
                )
            button(type="submit" class="btn btn-primary") Áp dụng