mixin search(keyword)
    form.prevent-double-submit(id="form-search")
        .input-group 
            input(
                type="text"
                placeholder="Tìm kiếm"
                class="form-control"
                name="keyword"
                value=keyword
            )
            .input-group-append 
                button(
                    class = "btn btn-success"
                    type="submit"
                ) Tìm kiếm