extends ../../layouts/default
include ../../mixins/alert.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug

block main 
    +alert-success(3000)
    +alert-error(5000)

    h1(class = "mb-4") Trang đặt hàng

    .card.mb-3 
        .card-header Bộ lọc và Tìm kiếm 
        .card-body 
            .row
                .col-6
                    +filter-status(filterStatusOrder)
                .col-6
                    +search(keyword)

    //- table
    .card.mb-3 
        .card-header #{pageTitle}
            .card-body 
                .row 
                    .col-10
                    .col-2.text-right
                        

                table(
                    class="table table-hover table-sm"
                    checkbox-multi
                )
                    thead 
                        tr 
                            th 
                                input(type="checkbox" name="checkall")
                            th STT
                            th Email
                            th Họ tên
                            th Số điện thoại
                            th Địa chỉ
                            th Trạng thái
                            th Chỉnh sửa

                    tbody 
                        each item, index in records
                            tr 
                                td 
                                    input(
                                        type="checkbox"
                                        name="id"
                                        value=item.id
                                    )
                                td #{index + 1}
                                td #{item.user ? (item.user.email ? item.user.email : "") : ""}
                                td #{item.userInfo.fullName}
                                td #{item.userInfo.phone}
                                td #{item.userInfo.address}
                                td 
                                    if item.status == "success"
                                        a(
                                            href="javascript:;"
                                            data-status=item.status
                                            data-id=item.id
                                            button-change-status
                                            class = "badge badge-success"
                                        ) Thành công
                                    else if item.status == "canceled"
                                        a(
                                            href="javascript:;"
                                            data-status=item.status
                                            data-id=item.id
                                            button-change-status
                                            class="badge badge-danger"
                                        ) Đã hủy
                                    else if item.status == "processing"
                                        a(
                                            href="javascript:;"
                                            data-status=item.status
                                            data-id=item.id
                                            button-change-status
                                            class="badge badge-warning"
                                        ) Đang xử lý
                                    else if item.status == "delivering"
                                        a(
                                            href="javascript:;"
                                            data-status=item.status
                                            data-id=item.id
                                            button-change-status
                                            class="badge badge-primary"
                                        ) Đang vận chuyển
                                td 
                                    a(
                                        href=`${prefixAdmin}/orders/detail/${item.id}`
                                        class="btn btn-primary btn-sm mr-1"
                                    ) Chi tiết
                                    a(
                                        href=`${prefixAdmin}/orders/edit/${item.id}`
                                        class="btn btn-warning btn-sm mr-1"
                                    ) Sửa
                                    button(
                                        class="btn btn-danger btn-sm"
                                        data-id = item.id
                                        button-delete
                                    ) Xóa