extends ../../layouts/default
include ../../mixins/alert.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi-orders.pug

block main 
    +alert-success(3000)
    +alert-error(5000)

    h1(class = "mb-4") Trang đặt hàng

    .card.mb-3 
        .card-header Bộ lọc và Tìm kiếm 
        .card-body 
            .row
                .col-6
                    +filter-status(filterStatusOrder)
                .col-6
                    +search(keyword)

    //- table
    .card.mb-3 
        .card-header #{pageTitle}
            .card-body 
                +form-change-multi-orders(`${prefixAdmin}/orders/change-multi?_method=PATCH`)
                        

                table(
                    class="table table-hover table-sm"
                    checkbox-multi
                )
                    thead
                        tr
                            th
                                input(type="checkbox" name="checkall")
                            th STT
                            th Mã đơn hàng
                            //- th Email
                            th Họ tên
                            th Số điện thoại
                            th Địa chỉ
                            th Trạng thái
                            th Tổng tiền
                            th Ngày mua hàng
                            th Thao tác

                    tbody 
                        each item, index in records
                            tr 
                                td
                                    input(
                                        type="checkbox"
                                        name="id"
                                        value=item.id
                                    )
                                td #{pagination.limitItems * (pagination.currentPage-1) + (index + 1)}
                                td #{item.code}
                                //- td #{item.user ? (item.user.email ? item.user.email : "") : ""}
                                td #{item.userInfo.fullName}
                                td #{item.userInfo.phone}
                                td #{item.userInfo.address}
                                td 
                                    if item.status == "success"
                                        a(
                                            data-status=item.status
                                            data-id=item.id
                                            class="badge badge-success"
                                        ) Thành công
                                    else if item.status == "delivering"
                                        a(
                                            data-status=item.status
                                            data-id=item.id
                                            class="badge badge-primary"
                                        ) Đang vận chuyển
                                    else if item.status == "processing"
                                        a(
                                            data-status=item.status
                                            data-id=item.id
                                            class="badge badge-secondary"
                                        ) Đang xử lý
                                    else if item.status == "canceled"
                                        a(
                                            data-status=item.status
                                            data-id=item.id
                                            class="badge badge-danger"
                                        ) Đã hủy
                                td #{item.totalPrice.toLocaleString('vi-VN')}đ
                                td #{item.purchaseDate}
                                td 
                                    a(
                                        href=`${prefixAdmin}/orders/detail/${item.id}`
                                        class="btn btn-primary btn-sm mr-1"
                                    ) Chi tiết
                                    a(
                                        href=`${prefixAdmin}/orders/edit/${item.id}`
                                        class="btn btn-warning btn-sm mr-1"
                                    ) Sửa
                                    button(
                                        class="btn btn-danger btn-sm"
                                        data-id = item.id
                                        button-delete
                                    ) Xóa

    +pagination(pagination)

    form(
        action=""
        method="POST"
        id="form-delete-item"
        data-path=`${prefixAdmin}/orders/delete`
    )