extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)
    
    .container.my-5
        .row.justify-content-center 
            .col-5.border.p-3.rounded.shadow
                h1(class="text-center") #{pageTitle}
                hr
                form(
                    action="/user/change/password"
                    method="POST"
                )
                    div(class="form-group")
                        label(for="oldPassword") Mật khẩu hiện tại *
                        input(
                            type="password"
                            class="form-control"
                            id="oldPassword"
                            name="oldPassword"
                            required
                        )
                    div(class="form-group")
                        label(for="password") Mật khẩu mới *
                        input(
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            required
                        )
                    div(class="form-group")
                        label(for="confirmPassword") Xác nhận mật khẩu mới *
                        input(
                            type="password"
                            class="form-control"
                            id="confirmPassword"
                            name="confirmPassword"
                            required
                        )
                    hr
                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-primary btn-block"
                        ) Xác nhận