extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main 
    +alert-error(5000)
    
    .row.flex-column.justify-content-center.align-items-center
            .w-50
                h1(class="mb-4") 
                    +box-head(pageTitle)

                form(
                    action=`/user/edit/?_method=PATCH`
                    method="POST"
                    enctype="multipart/form-data"
                )
                    div(class="mb-4")
                        span Email :
                        span(class="font-weight-bold fs-5 ml-2") #{user.email}
                    div(class="form-group")
                        label(for="fullName") Họ tên *
                        input(
                            type="text"
                            class="form-control"
                            id="fullName"
                            name="fullName"
                            value=user.fullName
                            required
                        )
                    div(class="form-group")
                        label(for="phone") Số điện thoại
                        input(
                            type="text"
                            class="form-control"
                            id="phone"
                            name="phone"
                            value=user.phone
                        )
                    div(class="form-group")
                        label(for="address") Địa chỉ
                        input(
                            type="text"
                            class="form-control"
                            id="address"
                            name="address"
                            value=user.address
                        )
                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Cập nhật
