extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
    
    .row.flex-column.justify-content-center.align-items-center
        .w-50
            h1(class="mb-4") 
                +box-head(pageTitle)

            if(user.fullName)
                div(class="form-group")
                    label(for="fullName") Họ tên
                    input(
                        type="text"
                        class="form-control"
                        id="fullName"
                        name="fullName"
                        value=user.fullName
                        required
                        readonly
                    )
            if(user.email)
                div(class="form-group")
                    label(for="email") Email
                    input(
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        value=user.email
                        required
                        readonly
                    )
            if(user.phone)
                div(class="form-group")
                    label(for="phone") Số điện thoại
                    input(
                        type="text"
                        class="form-control"
                        id="phone"
                        name="phone"
                        value=user.phone
                        readonly
                    )
            if(user.address)
                div(class="form-group")
                    label(for="address") Địa chỉ
                    input(
                        type="text"
                        class="form-control"
                        id="address"
                        name="address"
                        value=user.address
                        readonly
                    )
            hr
            a(
                href=`/user/edit`
                class="btn btn-primary btn-sm mr-5"
                style="float: left;"
            ) Chỉnh sửa thông tin