extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    
    .container.my-5
        .row.justify-content-center 
            .col-5.border.p-3.rounded.shadow
                h1(class="text-center") #{pageTitle}
                hr
                p| Vui lòng kiểm tra mã trong email của bạn . Mã này gồm 6 số.
                form.prevent-double-submit(
                    action="/user/register/otp"
                    method="POST"
                )
                    div(class="form-group")
                        label(for="email") Email *
                        input(
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            required
                            value=email 
                            readonly
                        )
                    div(class="form-group")
                        label(for="otp") Mã OTP *
                        input(
                            type="text"
                            class="form-control"
                            id="otp"
                            name="otp"
                            required
                        )
                    hr
                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-primary btn-block"
                        ) Xác nhận