extends ../../layouts/default
include ../../mixins/alert.pug

block main
  +alert-error(5000)
  +alert-success(3000)

  h1.mb-4 Trang tổng quan

  .row.gx-4
    .col-xl-3.col-md-6
      a.card.bg-primary.text-white.mb-4(href=`${prefixAdmin}/products-category`)
        .card-body
          .d-flex.align-items-center.justify-content-between
            div
              .small.text-white(style="font-weight: bold;") Danh mục sản phẩm
              .h5.mb-0 #{statistic.productCategory.total}
            i.fas.fa-th-list.fa-2x.text-gray-300
        .card-footer.d-flex.align-items-center.justify-content-between
          | Xem chi tiết
          .small.text-white
            i.fas.fa-angle-right

    .col-xl-3.col-md-6
      a.card.bg-success.text-white.mb-4(href=`${prefixAdmin}/products`)
        .card-body
          .d-flex.align-items-center.justify-content-between
            div
              .small.text-white(style="font-weight: bold;") Sản phẩm hoạt động
              .h5.mb-0 #{statistic.product.active}/#{statistic.product.total}
            i.fas.fa-box.fa-2x.text-gray-300
        .card-footer.d-flex.align-items-center.justify-content-between
          | Xem chi tiết
          .small.text-white
            i.fas.fa-angle-right

    .col-xl-3.col-md-6
      a.card.bg-warning.text-white.mb-4(href=`${prefixAdmin}/users`)
        .card-body
          .d-flex.align-items-center.justify-content-between
            div
              .small.text-white(style="font-weight: bold;") Khách hàng
              .h5.mb-0 #{statistic.user.total}
            i.fas.fa-user-friends.fa-2x.text-gray-300
        .card-footer.d-flex.align-items-center.justify-content-between
          | Xem chi tiết
          .small.text-white
            i.fas.fa-angle-right

    .col-xl-3.col-md-6
      a.card.bg-info.text-white.mb-4(href=`${prefixAdmin}/orders`)
        .card-body
          .d-flex.align-items-center.justify-content-between
            div
              .small.text-white(style="font-weight: bold;") Đơn hàng mới
              .h5.mb-0 #{statistic.order.processing}
            i.fas.fa-shopping-cart.fa-2x.text-gray-300
        .card-footer.d-flex.align-items-center.justify-content-between
          | Xem chi tiết
          .small.text-white
            i.fas.fa-angle-right
  
  
  .card.mb-3 
    .card-header Top 3 khách hàng đặt hàng nhiều nhất
      .card-body 

        table(
          class="table table-hover table-sm"
        )
          thead 
            tr 
              th STT
              th Họ tên
              th Email
              th Số điện thoại
              th Thành công
              th Tổng tiền
          tbody 
            each item, index in top3Users
                tr 
                  td #{index + 1}
                  td #{item.fullName}
                  td #{item.email}
                  td #{item.phone}
                  td #{item.totalOrder}
                  td #{item.total.toLocaleString('vi-VN')}đ
