header.header 
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href=`${prefixAdmin}/dashboard`) ADMIN
            .col-7
            .col-2
                .inner-menu
                    ul
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(href=`${prefixAdmin}/my-account`, id="accountDropdown", role="button", data-bs-toggle="dropdown", aria-expanded="false")
                                i(class="fas fa-user-circle fa-2x") <!-- Icon hiện đại hơn -->
                            ul.dropdown-menu.dropdown-menu-end(aria-labelledby="accountDropdown")
                                li
                                    a.dropdown-item(href=`${prefixAdmin}/my-account`) 
                                        i(class="fas fa-user me-2")  Tài khoản của tôi
                                li
                                    a.dropdown-item(href=`${prefixAdmin}/my-account/change/password`) 
                                        i(class="fas fa-key me-2")  Đổi mật khẩu
                                li
                                    a.dropdown-item(href=`${prefixAdmin}/auth/logout`) 
                                        i(class="fas fa-sign-out-alt me-2")  Đăng xuất