.sider
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Trang tổng quan
            li 
                a(href=`${prefixAdmin}/products-category`) Danh mục sản phẩm 
            li 
                a(href=`${prefixAdmin}/products`) Danh sách sản phẩm
            li 
                a(href=`${prefixAdmin}/users`) Danh sách khách hàng
            li 
                a(href=`${prefixAdmin}/orders`) Quản lý đơn hàng
            li 
                a(href=`${prefixAdmin}/accounts`) Danh sách nhân viên
            li 
                a(href=`${prefixAdmin}/settings/general`) Cài đặt chung

