.sider
    .inner-menu 
        ul 
            //- li 
            //-     a(href=`${prefixAdmin}/dashboard`) Tổng quan
            //- li 
            //-     a(href=`${prefixAdmin}/products-category`) Danh mục sản phẩm 
            //- li 
            //-     a(href=`${prefixAdmin}/products`) Danh sách sản phẩm
            //- li 
            //-     a(href=`${prefixAdmin}/users`) Danh sách khách hàng
            //- li 
            //-     a(href=`${prefixAdmin}/orders`) Quản lý đặt hàng
            li 
                a(href=`${prefixAdmin}/accounts`) Danh sách nhân viên
            //- li 
            //-     a(href=`${prefixAdmin}/settings/general`) Cài đặt chung
            li 
                a(href=`${prefixAdmin}/races`) Đăng ký thi đấu
            li 
                a(href=`${prefixAdmin}/updateResult`) Cập nhật kết quả
            li 
                a(href=`${prefixAdmin}/statistics`) Thống kế

